// ***
// Type scale
// ***

$base-line-height: 1.125em;

$type-settings: (
  -1: (
    font-size: calc(0.618em + 0.375vw),
    line-height: $base-line-height + 0.5em
  ),
  0: (
    font-size: calc(1em + 0.375vw),
    line-height: $base-line-height + 0.375em
  ),
  1: (
    font-size: calc(1.618em + 0.375vw),
    line-height: $base-line-height + 0.25em
  ),
  2: (
    font-size: calc(2.618em + 0.375vw),
    line-height: $base-line-height
  ),
  3: (
    font-size: calc(2.618em + 0.875vw),
    line-height: $base-line-height
  ),
  4: (
    font-size: calc(6.854em + 0.375vw),
    line-height: $base-line-height
  )
);

@function type-scale($level) {
  @return map-get(
    map-get($type-settings, $level), 'font-size');
}

@function line-height($level) {
  @return map-get(
    map-get($type-settings, $level), 'line-height');
}

@mixin type-setting($level) {
  font-size: type-scale($level);
  line-height: line-height($level);
}


// ***
// Typography
// ***

$font-weight-normal: 400;
$font-weight-bold: 700;

@mixin base
{
  color: $text;
}

@mixin lead {
  @include base;
  @include type-setting(3);

  margin-bottom: $spacing;
  font-family: 'Eb Garamond', serif;
  font-weight: $font-weight-normal;
}

@mixin sub {
  @include base;
  @include type-setting(1);

  margin-bottom: $spacing;
  font-family: 'DM Sans', sans-serif;
  font-weight: $font-weight-normal;
}

@mixin brow {
  @include base;
  @include type-setting(0);

  margin-bottom: $spacing/2;
  color: $gray600;
  font-family: 'DM Sans', sans-serif;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  letter-spacing: 0.125em;

  @include query(small)
  {
    color: $gray700;
  }
}

@mixin rib {
  @include base;
  @include type-setting(0);

  margin-bottom: $spacing/3;
  font-family: 'DM Sans', sans-serif;
  color: $gray600;
  font-weight: $font-weight-normal;
  letter-spacing: 0.0625em;

  @include query(small)
  {
    @include type-setting(-1);

    color: $gray800;
  }
}

@mixin body {
  @include base;
  @include type-setting(0);

  font-family: 'DM Sans', sans-serif;
}

@mixin link {
  @include type-setting(-1);

  font-family: monospace;
  color: $gray300;
  text-decoration: none;
  letter-spacing: 0.33px;font-family: monospace;
  text-decoration: none;
  letter-spacing: 0.33px;

  &:hover,
  &:focus
  {
    text-decoration: underline;
  }
}
